:root {
	--color-primary: #dc3545;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.devise_alert {
  color: #d9534f;
}

.devise_notice {
  color: green;
}

body {
	font-size: 12px !important;
}

p {
	margin-bottom: 5px !important;
}

.user-menu.nav > li > a {
	font-size: 14px !important;
}

.sidebar-menu li a {
	font-size: 14px !important;
}

.sidebar-menu ul ul a {
	padding: 12px 30px 8px 50px !important;
	font-size: 14px !important;
}

.sidebar-menu ul li a i {
	font-size: 24px !important;
}

.sidebar-menu > ul > li > a {
	padding: 5px 15px !important;
}

.sidebar-menu .menu-arrow {
	line-height: 8px !important;
}

.sidebar-menu a {
	line-height: 8px !important;
}

.sidebar-menu ul ul a.active {
	text-decoration: none !important;
	border-left: 2px solid var(--color-primary) !important;
  background-color: #80808038 !important;
}

.form-control {
	font-size: 12px !important;
}

.menu-title {
	padding: 10px 0px 5px 15px !important;
}

.badge-pill {
	margin-top: -4px !important;
}

.action-circle.large .material-icons {
  font-size: 14px !important;
  vertical-align: -7px !important;
}

.task-wrapper .task-list-footer .new-task-wrapper .btn {
  font-size: 10px !important;
  padding: 5px 10px !important;
}

.task-wrapper .task-list-footer .new-task-wrapper .add-new-task-btn {
  background: var(--color-primary) !important;
}

.add-task-btn {
  border-radius: 5px !important;
  font-size: 10px !important;
  padding: 5px 10px !important;
  text-transform: none !important;
}

.custom-menu.nav > li > a {
  font-size: 20px !important;
}

.dropdown-menu {
  font-size: 12px !important;
  border: 1px rgb(131 129 129) !important;
  border-radius: 5px !important;
  background-color: #e9e7e7 !important;
}

.task-wrapper #task-list li.completed .task-container .task-label {
  color: #959393 !important;
}

.task-complete-btn {
  font-size: 10px !important;
  padding: 5px 10px !important;
}

.task-action-btn > .profile-rightbar {
  font-size: 12px !important;
  margin-left: 0px !important;
}

@media only screen and (max-width: 991.98px) {
  .detail-btn {
    display: none !important;
  }
}

/* ############################ chat window skeledon model start */
.main-item {
  padding: 10px;
  background-color: #fff;
}

.background-masker {
  background-color: #fff;
  position: absolute;
}

.btn-divide-left {
  left: 35%;
  height: 100%;
  width: 6%;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}

.animated-background {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #bbbbbb78;
  background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  height: 100px;
  position: relative;
}

.content-editor-skeleton {
  height: 70px;
  position: relative;
}

.contemt-header-skeleton {
  background-color: #f6f7f8;
  height: 70px;
  position: relative;
  margin-bottom: 20px;
}

.sub-rect {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.btm-rect {
  border-radius: 100%;
  width: 31px;
  height: 31px;
  float: left;
  margin: 20px 5px 20px 0px;
}
.pure-background {
  background-color: #eeeeee;
}

.css-dom:empty {
  height: 40px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-image:
    radial-gradient(circle 16px, lightgray 99%, transparent 0),
    linear-gradient(lightgray, lightgray),
    linear-gradient(lightgray, lightgray),
    linear-gradient(lightgray, lightgray),
    linear-gradient(lightgray, lightgray),
    linear-gradient(#fff, #fff); 
}
/* ############################ chat window skeledon model end */